# Python
*.pyc
__pycache__/
venv/
.venv/
env/

# Data (Ignore the actual data, but keep the folders)
data/*.csv
cleaned_output/*.csv
cleaned_output/*.xlsx

# Scripts
scripts/test.py

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Power BI
*.pbix